body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    gap: 12px;
    align-items: center;
    /*justify-content: center*/
}

.img-perfil {
    /*border: 1px solid rgba(0,0,0,0.20);*/
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin-bottom: 50px;
}

.icon {
    border: 0px;
    margin: 2px;
    vertical-align: middle;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    transition: 0.4s;
}

.icon:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    width: 50px;
    height: 50px;
}

.menu {
    min-width: 300px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.option-menu {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.btn-menu {
    font-size: 15px;
    justify-content: left;
    background-color: white;
    width: 100%;
    border: 0px;
    margin: 3px;
    transition: 0.7s;
}

.contact {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.btn-menu:hover {
    background-color: lightskyblue;
    font-weight: bold;
    font-size: 17px;
    color: white;
}

.info{
    background-color: white;
    min-width: 600px;
}